* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Futura';
    src: url(../fonts/);
}

a {
    text-decoration: none;
}

h3,
footer {
    font-family: 'Futura';
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    color: #3d5cdb;
}

section {
    text-align: center;
}

.intro-content {
    display: flex;
    justify-content: center;
}

.intro-content img,
.intro-text {
    min-width: 500px;
    width: 500px;
    margin: 20px;
}

.intro-content img {
    height: auto;
    object-fit: fill;
}

.intro-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    overflow: wrap;
    text-align: left;
    padding: 20px;
}

.intro-text a {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    background-color: #3E5DDB;
    padding: 10px 50px;
    border-radius: 10px;
}

footer {
    font-family: "Futura";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 60px;
    color: #3d5cdb;
    text-align: center;
}